@import "tailwindcss";

@keyframes pulse-subtle {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.85;
  }
}

html,
body {
  background-color: #171717;
  scroll-behavior: smooth;
  min-height: 100%;
}